
<mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile
    *ngFor="let animal of animals">
    <mat-card (click)="onCardClick(animal)">
        <mat-card-content>
          <img mat-card-image src="assets/pictures/{{animal.name}}.jpg" alt="{{animal.name}}">
        </mat-card-content>
      </mat-card>
  </mat-grid-tile>
</mat-grid-list>
  