<ListView *ngFor="let animal of animals" (tap)="onCardClick(animal)">
  <GridLayout colums="2, auto, *" rows="2, auto, *">
    <Image src="assets/pictures/{{animal.name}}.jpg"></Image>
  </GridLayout>
</ListView>

<!--
Original Web template:


<mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile
    *ngFor="let animal of animals">
    <mat-card (click)="onCardClick(animal)">
        <mat-card-content>
          <img mat-card-image src="assets/pictures/{{animal.name}}.jpg" alt="{{animal.name}}">
        </mat-card-content>
      </mat-card>
  </mat-grid-tile>
</mat-grid-list>
  
-->